* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
    background:  url('https://uk.allianzgi.com/-/media/allianzgi/globalagi/editorial/winds-of-change-favour-china-s-advanced-tech-companies/1920x980-hero-shanghai-skyline.jpg?rev=-1&hash=A89C92EDC4E9782C0B2B9EC43797FFEA');
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(4px);
    color: #fff;
    overflow-x: hidden;
}

header {
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-family: "Comfortaa", sans-serif;
    font-style: normal;
    height: 0;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: sticky;
    animation: fadeIn 1s ease-out;
    z-index: 5;
}

section {
    background-color: rgba(0, 0, 0, 0.5);
}

h2 {
    padding-bottom: 2rem;
}

.menu {
    margin-top: 0;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.4);

}

.menu li {
    animation: slideUp 0.8s ease-out 0.5s both;
    font-size: 1.3rem;
    display: inline-block;
    margin-inline: 0.5px;
    text-transform: uppercase;
    position: relative;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.menu li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    font-family: "Comfortaa", sans-serif;
}

.menu li a:hover {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.menu li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    transform: translateX(-50%);
    transition: width 0.4s ease;
}

.menu li:hover::after {
    width: 100%;
}

.menu li:nth-child(1) {
    animation-delay: 0.3s;
}

.menu li:nth-child(2) {
    animation-delay: 0.5s;
}

.menu li:nth-child(3) {
    animation-delay: 0.7s;
}

.menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.menu li:nth-child(5) {
    animation-delay: 1.5s;
}


#tech {
    min-height: 100vh;
    padding: 100px;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}

.section-title {
    padding-top: 100px;
    text-align: center;
    font-size: 3rem;
}

#tech .text {
    position: absolute;
    font-size: 1.1em;
    opacity: 1 ;
    z-index: 3;
    margin-left: 15em;
    margin-top: -2em;
    text-align: center;
}

.tech-grid #tech .text {
    opacity: 0;
}

.tech-summary {
    margin: auto;
    position: relative;
    font-size: 1.4rem;
    border-top: 4px solid rgba(128, 204, 255, 0.7);
    background: linear-gradient(180deg, rgba(128, 204, 255, 0.5) 0%, rgba(255, 255, 255, 0) 85%);
    padding: 20px 100px;
    margin-top: -200px;
    margin-bottom: 175px;
    line-height: 1.6;
    color: #ffffff;
    text-align: center;
    z-index: 1;
}

.tech-grid {
    position: relative;
    padding-bottom: 400px;
    max-width: 130em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    z-index: 2;
}

.tech-grid:not(:hover) .tech-card {
    opacity: 0.4;
    filter: blur(2px);
}

.tech-card {
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 20em;
    height: 350px;
    background: linear-gradient(-135deg, rgba(27, 27, 27, 0.514) 0%, rgba(255, 107, 107, 0.05) 100%);
    border-radius: 20px;
    padding: 2rem 1.5rem;
    border: 2px solid rgba(46, 46, 46, 0.2);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
    cursor: pointer;
    position: relative;
}

.tech-card:hover {
    background: linear-gradient(135deg, rgba(201, 214, 255, 0.479) 0%, rgba(255, 107, 107, 0.05) 100%);
    border-color: rgba(194, 208, 255, 0.897);
    box-shadow: 0 20px 60px rgba(107, 154, 255, 0.911);
    z-index: 10;
}


.tech-card:nth-child(1):hover {
    width: 325%;
    margin-right: -50%;
}


.tech-card:nth-child(2):hover {
    width: 325%;
    margin-left: -112.5%;
    margin-right: -112.5%;
}


.tech-card:nth-child(3):hover {
    width: 325%;
    margin-left: -225%;
}

.tech-card h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #99ceff;
    text-align: center;
    position: relative;
    z-index: 1;
}

.tech-card:hover h3 {
    text-shadow: 0 0 10px rgb(160, 201, 255);
}

.tech-companies {
    font-size: 0.95rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    opacity: 0.9;
    position: relative;
    z-index: 1;
}

.tech-companies p {
    padding: 0.3rem 0;
    filter: blur(2px);
    color: rgb(133, 133, 133);
    transition: all 0.3s ease;
}

.tech-card:hover .tech-companies p {
    padding-left: 10px;
    filter: blur(0px);
    color: #fff;
}

.tech-grid:has(.tech-card:hover) .tech-card:not(:hover) {
    opacity: 0;
}

.tech-description {
    margin-top: 2em;
    margin-left: 400px;
    padding-bottom: 6em;
    padding-left: 10px;
    width: 25rem;
    height: 200px;
    border-left: 3px solid rgb(128, 204, 255);
    text-shadow: 5px 10px 10px rgb(0, 0, 0);
    opacity: 0;
    transform: scaleY(0%);
    transition: all 0.5s ease;
    position: absolute;
    z-index: -1;
    font-size: 1.2rem;
}

.tech-description::after {
    content: '';
    background: linear-gradient(-90deg, rgba(128, 204, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    margin-left: 50%;
    left: -100%;
    width: 50%;
    height: 100%;
    z-index: -10;
}

.tech-card:hover .tech-description {
    opacity: 1;
    transform: scaleY(100%);
}


/* Секция Прошлое */
#past {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    padding: 0px 100px;
}

.timeline {
    position: relative;
    padding: 3rem 0;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.line {
    margin-left: 250px;
    position: absolute;
    top: 0;
    height: 750px;
    width: 5px;
    border-radius: 2.5px;
    z-index: 5;
    background: linear-gradient(180deg, rgba(128, 204, 255, 0.904) 0%, rgba(50, 122, 255, 0.877) 50%, rgba(38, 89, 185, 0) 100%);
}

.timeline-item {
    position: relative;
    padding: 1rem 0;
    display: flex;
}

.timeline-container {
    position: relative;
    display: flex;
    flex-direction: row;
}

.timeline-content {
    position: relative;
    border-radius: 25px;
    border: 5px solid rgba(129, 129, 129, 0.4);
    margin-left: 200px;
    height: 500px;
    z-index: 1;
    background: linear-gradient(135deg, rgba(17, 29, 44, 0.425) 0%, rgba(57, 85, 161, 0.473) 100%);
    padding: 25px;
}

.timeline-content p {
    margin: 0;
    font-size: 1.2em;
}

.timeline-content h3 {
    font-size: 1.5em;
    margin: 0.5em 0 0.5em 1em;
    color: #99ceff;
    text-shadow: 0 0 15px rgb(160, 201, 255);
}

.timeline-menu h2 {
    justify-content: end;
    width: 160%;
    font-size: 1.5em;
    position: relative;
    padding-left: 1rem;
    margin-bottom: 3rem;
    z-index: 1;
    padding: 25px 0;
    padding-left: 10px;
    transition: all 0.5s cubic-bezier(0.65, 0, 0.35, 1);
}

.timeline-menu h2:hover {
    transform: scale(0.95);
    transform-origin: left;
    text-shadow: 0 0 15px #99ceff;
    transition: all 0.3s ease;
}

.timeline-menu h2::before {
    content: '';
    position: absolute;
    left: -1rem;
    top: 0;
    height: 10px;
    padding: 50px 0;
    margin-top: -10px;
    width: 5px;
    border-radius: 2.5px;
    box-shadow: 0 0px 10px rgb(72, 167, 255);
    background: linear-gradient(180deg, rgba(50, 122, 255, 0.877) 0%, rgba(128, 204, 255, 0.904) 100%);
    transform: translateX(12px);
}

/* Добавляем псевдоэлемент для градиентного фона */
.timeline-menu h2::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(50, 156, 255, 0.877) 0%, rgba(128, 204, 255, 0) 100%);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s cubic-bezier(0.65, 0, 0.35, 1);
    z-index: -1;
    border-radius: inherit;
}

.timeline-menu h2.active::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
}

.timeline-item h3 {
    position: relative;
    padding-left: 100px;
}

.timeline-text p {
  overflow: hidden;
}

.timeline-text {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s cubic-bezier(0.65, 0, 0.35, 1);
    height: 0;
    overflow: hidden;
    
}

.timeline-text.active {
    opacity: 1;
    transform: translateY(0);
    height: auto;
}

.cities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    padding-top: 0;
}

.city-card {
    width: 70em;
    height: 20em;
    position: relative;
    border-radius: 19px;
    border: inset 4px rgba(150, 150, 150, 0.539);
    
}

.city-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.city-card:hover img {
    filter: blur(2px);
    
}

.city-card:hover .city-overlay {
    opacity: 1;
}

.city-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    color: white;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.65, 0, 0.35, 1);
    padding-top: 4em;
}

.city-overlay p {
    margin: 0.5em 0;
    font-size: 1.2em;
}

.divider {
    margin: 3em;
    background: linear-gradient(-35deg, rgba(50, 122, 255, 0.877) 0%, rgba(128, 204, 255, 0.904) 100%);
    box-shadow: 0 3px 10px rgb(72, 167, 255);
    height: 5px;
    width: 60em;
    border-radius: 2.5px;
}


